build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/ALL_BUILD.vcxproj.user
build/cmake_install.cmake
build/CMakeCache.txt
build/INSTALL.vcxproj
build/INSTALL.vcxproj.filters
build/QtServer_app.vcxproj
build/QtServer_app.vcxproj.filters
build/QtServer_app.vcxproj.user
build/QtServer.sln
build/QtServer.vcxproj
build/QtServer.vcxproj.filters
build/QtServerConfig.cmake
build/server.json
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/.vs/cmake.db
build/.vs/QtServer/v16/.suo
build/.vs/QtServer/v16/Browse.VC.db
build/.vs/QtServer/v16/Browse.VC.db-shm
build/.vs/QtServer/v16/Browse.VC.db-wal
build/.vs/QtServer/v16/Browse.VC.opendb
build/.vs/QtServer/v16/Solution.VC.db
build/.vs/QtServer/v16/Solution.VC.db-shm
build/.vs/QtServer/v16/Solution.VC.db-wal
build/.vs/QtServer/v16/ipch/AutoPCH/12c338e99565a0fc/SOCKIO.ipch
build/.vs/QtServer/v16/ipch/AutoPCH/442f5d772ca34de0/CONNECTION.ipch
build/.vs/QtServer/v16/ipch/AutoPCH/5f040fe4e8cff387/MAIN.ipch
build/.vs/QtServer/v16/ipch/AutoPCH/62b67082b5c4959/IOSERVER.ipch
build/.vs/QtServer/v16/ipch/AutoPCH/9ad98d4c17ba9576/TOPICMANAGER.ipch
build/.vs/QtServer/v16/ipch/AutoPCH/b1db5736e93e3601/MESSAGE.ipch
build/.vs/QtServer/v16/ipch/AutoPCH/cbc35da04f7bafd5/MOCS_COMPILATION.ipch
build/bin/server.json
build/bin/bin/server.json
build/bin/Debug/Qt5Cored.dll
build/bin/Debug/Qt5Networkd.dll
build/bin/Debug/QtServer_app.exe
build/bin/Debug/QtServer_app.ilk
build/bin/Debug/QtServer_app.pdb
build/bin/Debug/server.json
build/bin/Debug/bearer/qgenericbearerd.dll
build/bin/Debug/translations/qt_ar.qm
build/bin/Debug/translations/qt_bg.qm
build/bin/Debug/translations/qt_ca.qm
build/bin/Debug/translations/qt_cs.qm
build/bin/Debug/translations/qt_da.qm
build/bin/Debug/translations/qt_de.qm
build/bin/Debug/translations/qt_en.qm
build/bin/Debug/translations/qt_es.qm
build/bin/Debug/translations/qt_fi.qm
build/bin/Debug/translations/qt_fr.qm
build/bin/Debug/translations/qt_gd.qm
build/bin/Debug/translations/qt_he.qm
build/bin/Debug/translations/qt_hu.qm
build/bin/Debug/translations/qt_it.qm
build/bin/Debug/translations/qt_ja.qm
build/bin/Debug/translations/qt_ko.qm
build/bin/Debug/translations/qt_lv.qm
build/bin/Debug/translations/qt_pl.qm
build/bin/Debug/translations/qt_ru.qm
build/bin/Debug/translations/qt_sk.qm
build/bin/Debug/translations/qt_uk.qm
build/bin/Debug/translations/qt_zh_TW.qm
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeError.log
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.18.2/CMakeCCompiler.cmake
build/CMakeFiles/3.18.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.18.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.18.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.18.2/CMakeRCCompiler.cmake
build/CMakeFiles/3.18.2/CMakeSystem.cmake
build/CMakeFiles/3.18.2/VCTargetsPath.txt
build/CMakeFiles/3.18.2/VCTargetsPath.vcxproj
build/CMakeFiles/3.18.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.18.2/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.18.2/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.18.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.18.2/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.18.2/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.18.2/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.18.2/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/Export/share/QtServer/cmake/QtServerConfig-debug.cmake
build/CMakeFiles/Export/share/QtServer/cmake/QtServerConfig-minsizerel.cmake
build/CMakeFiles/Export/share/QtServer/cmake/QtServerConfig-release.cmake
build/CMakeFiles/Export/share/QtServer/cmake/QtServerConfig-relwithdebinfo.cmake
build/CMakeFiles/Export/share/QtServer/cmake/QtServerConfig.cmake
build/CMakeFiles/f8d28fd7561c8e60de80578a877da0b4/generate.stamp.rule
build/CMakeFiles/f8d28fd7561c8e60de80578a877da0b4/INSTALL_force.rule
build/CMakeFiles/QtServer_app_autogen.dir/AutogenInfo.json
build/CMakeFiles/QtServer_app_autogen.dir/AutogenUsed_Debug.txt
build/CMakeFiles/QtServer_app_autogen.dir/ParseCache_Debug.txt
build/CMakeFiles/QtServer_autogen.dir/AutogenInfo.json
build/CMakeFiles/QtServer_autogen.dir/AutogenUsed_Debug.txt
build/CMakeFiles/QtServer_autogen.dir/ParseCache_Debug.txt
build/Debug/QtServer.lib
build/Debug/QtServer.pdb
build/QtServer.dir/Debug/connection.obj
build/QtServer.dir/Debug/ioserver.obj
build/QtServer.dir/Debug/message.obj
build/QtServer.dir/Debug/mocs_compilation.obj
build/QtServer.dir/Debug/QtServer.lib.recipe
build/QtServer.dir/Debug/QtServer.log
build/QtServer.dir/Debug/QtServer.pdb
build/QtServer.dir/Debug/QtServer.vcxproj.FileListAbsolute.txt
build/QtServer.dir/Debug/sockio.obj
build/QtServer.dir/Debug/topicmanager.obj
build/QtServer.dir/Debug/QtServer.tlog/CL.command.1.tlog
build/QtServer.dir/Debug/QtServer.tlog/CL.read.1.tlog
build/QtServer.dir/Debug/QtServer.tlog/CL.write.1.tlog
build/QtServer.dir/Debug/QtServer.tlog/CustomBuild.command.1.tlog
build/QtServer.dir/Debug/QtServer.tlog/CustomBuild.read.1.tlog
build/QtServer.dir/Debug/QtServer.tlog/CustomBuild.write.1.tlog
build/QtServer.dir/Debug/QtServer.tlog/Lib-link.read.1.tlog
build/QtServer.dir/Debug/QtServer.tlog/Lib-link.write.1.tlog
build/QtServer.dir/Debug/QtServer.tlog/Lib.command.1.tlog
build/QtServer.dir/Debug/QtServer.tlog/QtServer.lastbuildstate
build/QtServer_app.dir/Debug/connection.obj
build/QtServer_app.dir/Debug/ioserver.obj
build/QtServer_app.dir/Debug/main.obj
build/QtServer_app.dir/Debug/message.obj
build/QtServer_app.dir/Debug/mocs_compilation.obj
build/QtServer_app.dir/Debug/QtServer_app.exe.recipe
build/QtServer_app.dir/Debug/QtServer_app.log
build/QtServer_app.dir/Debug/sockio.obj
build/QtServer_app.dir/Debug/topicmanager.obj
build/QtServer_app.dir/Debug/vc142.pdb
build/QtServer_app.dir/Debug/QtServer_app.tlog/CL.command.1.tlog
build/QtServer_app.dir/Debug/QtServer_app.tlog/CL.read.1.tlog
build/QtServer_app.dir/Debug/QtServer_app.tlog/CL.write.1.tlog
build/QtServer_app.dir/Debug/QtServer_app.tlog/CustomBuild.command.1.tlog
build/QtServer_app.dir/Debug/QtServer_app.tlog/CustomBuild.read.1.tlog
build/QtServer_app.dir/Debug/QtServer_app.tlog/CustomBuild.write.1.tlog
build/QtServer_app.dir/Debug/QtServer_app.tlog/link.command.1.tlog
build/QtServer_app.dir/Debug/QtServer_app.tlog/link.read.1.tlog
build/QtServer_app.dir/Debug/QtServer_app.tlog/link.write.1.tlog
build/QtServer_app.dir/Debug/QtServer_app.tlog/QtServer_app.lastbuildstate
build/QtServer_app_autogen/mocs_compilation.cpp
build/QtServer_app_autogen/include_Debug/6YEA5652QU/moc_connection.cpp
build/QtServer_app_autogen/include_Debug/6YEA5652QU/moc_ioserver.cpp
build/QtServer_app_autogen/include_Debug/6YEA5652QU/moc_sockio.cpp
build/QtServer_app_autogen/include_Debug/6YEA5652QU/moc_topicmanager.cpp
build/QtServer_autogen/mocs_compilation.cpp
build/QtServer_autogen/include_Debug/6YEA5652QU/moc_connection.cpp
build/QtServer_autogen/include_Debug/6YEA5652QU/moc_ioserver.cpp
build/QtServer_autogen/include_Debug/6YEA5652QU/moc_sockio.cpp
build/QtServer_autogen/include_Debug/6YEA5652QU/moc_topicmanager.cpp
build/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.log
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/libQtServer.a
build/Makefile
build/bin/QtServer_app
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeRuleHashes.txt
build/CMakeFiles/feature_tests.bin
build/CMakeFiles/feature_tests.c
build/CMakeFiles/feature_tests.cxx
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/3.10.2/CMakeCCompiler.cmake
build/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.10.2/CMakeSystem.cmake
build/CMakeFiles/3.10.2/CompilerIdC/a.out
build/CMakeFiles/3.10.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.10.2/CompilerIdCXX/a.out
build/CMakeFiles/3.10.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/QtServer.dir/build.make
build/CMakeFiles/QtServer.dir/cmake_clean_target.cmake
build/CMakeFiles/QtServer.dir/cmake_clean.cmake
build/CMakeFiles/QtServer.dir/CXX.includecache
build/CMakeFiles/QtServer.dir/depend.internal
build/CMakeFiles/QtServer.dir/depend.make
build/CMakeFiles/QtServer.dir/DependInfo.cmake
build/CMakeFiles/QtServer.dir/flags.make
build/CMakeFiles/QtServer.dir/link.txt
build/CMakeFiles/QtServer.dir/progress.make
build/CMakeFiles/QtServer.dir/QtServer_autogen/mocs_compilation.cpp.o
build/CMakeFiles/QtServer.dir/src/connection.cc.o
build/CMakeFiles/QtServer.dir/src/ioserver.cc.o
build/CMakeFiles/QtServer.dir/src/message.cc.o
build/CMakeFiles/QtServer.dir/src/sockio.cc.o
build/CMakeFiles/QtServer_app.dir/build.make
build/CMakeFiles/QtServer_app.dir/cmake_clean.cmake
build/CMakeFiles/QtServer_app.dir/CXX.includecache
build/CMakeFiles/QtServer_app.dir/depend.internal
build/CMakeFiles/QtServer_app.dir/depend.make
build/CMakeFiles/QtServer_app.dir/DependInfo.cmake
build/CMakeFiles/QtServer_app.dir/flags.make
build/CMakeFiles/QtServer_app.dir/link.txt
build/CMakeFiles/QtServer_app.dir/progress.make
build/CMakeFiles/QtServer_app.dir/QtServer_app_autogen/mocs_compilation.cpp.o
build/CMakeFiles/QtServer_app.dir/src/connection.cc.o
build/CMakeFiles/QtServer_app.dir/src/ioserver.cc.o
build/CMakeFiles/QtServer_app.dir/src/main.cc.o
build/CMakeFiles/QtServer_app.dir/src/message.cc.o
build/CMakeFiles/QtServer_app.dir/src/sockio.cc.o
build/CMakeFiles/QtServer_app_autogen.dir/AutogenInfo.cmake
build/CMakeFiles/QtServer_app_autogen.dir/AutogenOldSettings.cmake
build/CMakeFiles/QtServer_app_autogen.dir/build.make
build/CMakeFiles/QtServer_app_autogen.dir/cmake_clean.cmake
build/CMakeFiles/QtServer_app_autogen.dir/depend.internal
build/CMakeFiles/QtServer_app_autogen.dir/depend.make
build/CMakeFiles/QtServer_app_autogen.dir/DependInfo.cmake
build/CMakeFiles/QtServer_app_autogen.dir/progress.make
build/CMakeFiles/QtServer_autogen.dir/AutogenInfo.cmake
build/CMakeFiles/QtServer_autogen.dir/AutogenOldSettings.cmake
build/CMakeFiles/QtServer_autogen.dir/build.make
build/CMakeFiles/QtServer_autogen.dir/cmake_clean.cmake
build/CMakeFiles/QtServer_autogen.dir/depend.internal
build/CMakeFiles/QtServer_autogen.dir/depend.make
build/CMakeFiles/QtServer_autogen.dir/DependInfo.cmake
build/CMakeFiles/QtServer_autogen.dir/progress.make
build/QtServer_app_autogen/moc_predefs.h
build/QtServer_app_autogen/6YEA5652QU/moc_connection.cpp
build/QtServer_app_autogen/6YEA5652QU/moc_ioserver.cpp
build/QtServer_app_autogen/6YEA5652QU/moc_sockio.cpp
build/QtServer_autogen/moc_predefs.h
build/QtServer_autogen/6YEA5652QU/moc_connection.cpp
build/QtServer_autogen/6YEA5652QU/moc_ioserver.cpp
build/QtServer_autogen/6YEA5652QU/moc_sockio.cpp
